* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** PHONE **/

.phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.phone h4 {
    display: block;
    text-align: center;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
}

.phone img {
    margin-bottom: 3.5px;
    height: 10px;
    width: 13px;
}

/** HEADER **/

.cont-nav {
    background: rgb(30, 31, 34);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

.nav-item {
    margin: 15px;
    padding: 0 15px;
    font-size: 13px;
    border-radius: 3px;
    transition-duration: 1s;
}

.navbar-toggler {
    background: rgb(245, 81, 57);
    padding: 1px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li a{
    position: relative;
}

.navbar ul li a::before,
.navbar ul li a::after
{
    content: '';
    border-bottom: 2px solid rgb(245, 81, 57);
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}

.navbar ul li a::before{
    bottom: 1px;
    width: 90%;
    right: 0;
}

.navbar ul li a::after{
    bottom: -10px;
    width: 60%;
    left: 0;
}

.navbar ul li a.activo::before,
.navbar ul li a:hover::before{
    opacity: 1;
    width: 70%;
}

.navbar ul li a.activo::after,
.navbar ul li a:hover::after{
    opacity: 1;
    width: 40%;
}

.navbar-collapse {
    transition: 1s;
}

/** MAIN **/

#cont-main {
    height: auto;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background: linear-gradient(90deg, rgba(9,75,121,1) 9%, rgba(35,24,224,1) 100%, rgba(0,212,255,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

#cont-main a {
    text-decoration: none;
    color: #000;
    transition: 1s;
}

#cont-main a:hover {
    color: gold;
}

#cont-main h1 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: #fff;
}

.social1 {
    text-align: center;
    margin-bottom: 13px;
}

.social1 i {
    font-size: 1.3em;
    color: #fff;
}

.social1 button {
    border-radius: 50%;
}

/** SERVICE CARDS  **/
.card {
    border: none;
}
#cards h2 {
    font-family: 'PT Sans', sans-serif;
}

.cont-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.card-img-top {
    transition: 1s;
    border-radius: 5px;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.letters h2 {
    text-align: center;
    color: #000;
}

.letters ul li{
    text-align: center;
    list-style: none;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

.lettersAbout {
    width: 60%;
    font-family: 'PT Sans', sans-serif;
    border-radius: 40px;
    color: #000;
    
}

.lettersAbout h2 a {
    text-decoration: none;
    transition: 1s;
}

.lettersAbout h2 a:hover {
    color: gold;
}

.list-group li  {
    border: none;
}
/** PROJECTS **/
.lettersProject {
    text-align: center;
}

.lettersProject ul{
    list-style: none;
}
/** LINE **/
.hache {
    display: flex;
    justify-content: center;
}

hr {
    height: 2px;
    background: #000;
}

.title {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.carousel-inner {
    max-height: 80vh;
    border-radius: 10px;
}

.carousel-item {
    box-shadow: 5px 0 5px 0;
} 

/** CLIENTES **/
.contClients{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    align-content: center;
}

.card-img-top2 {
    transition: 1s;
    border-radius: 5px;
}

.card-img-top2:hover {
    transform: scale(1.1);
}

/** FOOTER **/ 

footer {
    background: rgb(30, 31, 34);
    width: 100%;
}

.social {
    display: flex;
    margin:  5px;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
}

.social i {
    margin: 10px;
    font-size: 1.5em;
    color: rgb(25, 102, 227);
    transition: 1s;
}

.social i:hover {
    color: rgb(118, 195, 245);
}

#imgfooter {
    display: flex;
    justify-content: center;
}

.last-text {
    text-align: center;
    color: #fff;
    font-size: 0.9em;
}

/** LOGO WSP FIXED **/

.socialFix {
    text-decoration: none;
    text-align: center;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    right: 10px;
}

.socialFix i {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.socialFix button {
    border-radius: 50%;
}

/** ARROW **/

.arrow {
    display: flex;
    justify-content: center;
}

.arrow a {
    color: rgb(25, 102, 227);
}

/** BOTON ENVIAR **/

#btnexp {
    color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 0 0 rgba(145, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    margin-bottom: 5px;
    font-family: 'Titillium Web', sans-serif;
}

#btnexp::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    top: -30px;
    left: -80px;
    z-index: -1;
    transition: transform 0.5s ease;
}

#btnexp:hover {
    transform: translate(0, -2px);
    box-shadow: 10px -2px 25px 0 rgba(16, 226, 255, 0.5), -10px 10px 25px 0 rgba(183, 0, 255, 0.7);
}

#btnexp:hover::after{
    transform: rotate(150deg);
}

#btnexp:hover::before{
}

.fnd p {
    color: #E8A724;
    font-size: 1.5em;
    text-align: right;
    font-family: 'Dosis', sans-serif;
    margin-right: 3px;
}

/** FORMULARIO **/

.btnBack:hover {
    color: #E8A724;
    transition: 0.5s;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #B70E21;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
    color: #fff;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}
.contact-form h3 {
    color: #fff;
    text-align: center;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #fff;
}
/** RESPONSIVE DESIGN **/

@media screen and (max-width: 540px){
    .cont-cartas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}